@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
#offerstab{
    background-color: rgb(234, 234, 234);
    padding: 15px;
}
#offerstab>div{
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    display: flex;
    justify-content: space-around;
}
.offerstabhover{
    cursor: pointer;
}
.offerstabhover:hover{
    color: red;
}
#navbar{
    padding: 15px 55px;
    background-color: white;
}
#navbar>div{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    display: flex;
    justify-content: space-between;
}
#navbar>div>#pages{
    width: 18%;
    height: 60%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    display: flex;
    justify-content: space-around;
    font-weight: 400;
}
#navbar>div>#pages>div{
    width:100%;
    padding: 8px 10px;
    text-align: center;
}
#men{
    font-weight: bold;
}
#navbar>div>#pages>div:nth-child(1){
    border-radius: 8px 0px 0px 8px;
}
#navbar>div>#pages>div:nth-child(3){
    border-radius: 0px 8px 8px 0px;
}
#navbar>div>#pages>div:hover{
    color: grey;
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}
h1{
    text-align: center;
    cursor: pointer;
    padding: 0;
    margin: 0px;
}
#rightsection{
    width: 20%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    display: flex;
    justify-content: space-between;
}
#rightsection>img{
    height: 50%;
}
#rightsection>img:hover{
    cursor: pointer;
}
#navbar>div:nth-child(2){
    padding: 10px;
    width: 93.5%;
    display: flex;
    justify-content: space-between;
}
#navbar>div>#additions{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    display: flex;
    justify-content: space-between;
}
#navbar>div>#additions>div{
    cursor: pointer;
    color: rgb(30, 30, 30);
}
#navbar>div>#additions>div:hover{
    color: black;
}
#navbar>div>#additions>div:nth-child(10){
    color: red;
}
#navbar>div>input{
    border: 1px solid grey;
    padding: 10px 15px;
    font-size: medium;
    border-radius: 5px;
    text-transform: capitalize;
}
footer{
    background-color: rgb(40, 40, 40);
    color: white;
    padding: 30px 50px;
}
#footer{
    width: 95%;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
}
#footer>div{
    width: 30%;
}
#footer>div>img{
    width: 8%;
}
#footer>div>div{
    width: 40%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    display: flex;
    justify-content: space-between;
}
#footer>div>div>img{
    width: 15%;
}
#footer>div:nth-child(1)>p:nth-child(2){
    cursor: pointer;
}
#footer>div:nth-child(2)>p:nth-child(1)~p{
    margin-top: 50px;
}
#footer>div:nth-child(2)>div{
    cursor: pointer;
}
#footer>div:nth-child(3){
    display: grid;
    grid-template-columns: repeat(2,1fr);
    display: flex;
    justify-content: space-between;
}
#footer>div:nth-child(3)>div{
    display: grid;
    grid-template-columns: 1fr;
}
#footer>div:nth-child(3)>div>div>p{
    cursor: pointer;
}
#footer>div:nth-child(3)>div:nth-child(1)>div{
    margin-top: -75px;
}
footer>p{
    font-size: small;
    margin-left: 4%;
}
#guiding{
    width: 80%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
#guiding>div{
    border: 0.5px solid rgb(197, 197, 197);
    padding: 10px 15px;
}
#guiding>div:hover{
    cursor: pointer;
    background-color: rgb(248, 248, 248);
}
#promotion{
    /* border: 1px solid black; */
    width:50%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}
#promotion>h1{
    text-align: left;
}
#promotion>p>a{
    color: black;
}
#essentials{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 60px;
    display: flex;
    justify-content: space-between;
}
#essentials>div>input{
    padding: 8px;
    width: 60%;
    font-size: medium;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid grey;
}
#essentials>div>button{
    padding: 8px 15px;
    font-size: medium;
    margin-right: 10px;
    border-radius: 4px;
    background-color: black;
    color: white;
    font-weight: bold;
}
#essentials>div>button:hover{
    cursor: pointer;
}
#essentials>div>img{
    width: 30%;
}
#content1{
    /* border: 1px solid black; */
    width: 80%;
    margin: auto;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
}
#content1>div{
    width: 95%;
}
#content1>div>img{
    width: 100%;
    height: 100%;
}
#content1>div:nth-child(1){
    cursor: pointer;
}
#content1>div:nth-child(2){
    padding: 0px 25px;
    padding-top: 10%;
}
#content1>div:nth-child(2)>h2{
    font-size: 45px;
    text-align: center;
}
#content1>div:nth-child(2)>p{
    font-size: 19px;
    text-align: center;
    margin-bottom: 40px;
}
#content1>div:nth-child(2)>button{
    padding: 10px 20px;
    font-size: medium;
    margin-left: 40%;
    border-radius: 5px;
    background-color: white;
}
#content1>div:nth-child(2)>button:hover{
    cursor: pointer;
    color: rgb(151, 151, 151);
}
#content2{
    /* border: 1px solid black; */
    width: 80%;
    margin: auto;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    display: flex;
    justify-content: space-between;
}
#content2>div{
    width: 75%;
}
#content2>div>img{
    width: 100%;
    height: 100%;
}
#content2>div:nth-child(1){
    padding: 0px 30px;
    padding-top: 15%;
}
#content2>div>p:nth-child(1){
    font-size: 25px;
    text-align: center;
}
#content2>div>p:nth-child(2){
    text-align: center;
}
#content2>div:nth-child(1)>button{
    padding: 10px 20px;
    font-size: medium;
    margin-top: 30px;
    margin-left: 40%;
    border-radius: 5px;
    background-color: white;
}
#content2>div:nth-child(1)>button:hover{
    cursor: pointer;
    color: rgb(151, 151, 151);
}
#content2>div:nth-child(2){
    cursor: pointer;
}
#content3{
    /* border: 1px solid black; */
    width: 80%;
    margin: auto;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1px;
}
#content3>div{
    width: 95%;
}
#content3>div>img{
    width: 100%;
    height: 100%;
}
#content3>div:nth-child(1){
    cursor: pointer;
}
#content3>div:nth-child(2){
    padding: 0px 25px;
    padding-top: 30%;
}
#content3>div:nth-child(2)>h2{
    font-size: 45px;
    text-align: center;
}
#content3>div:nth-child(2)>p{
    font-size: 19px;
    text-align: center;
    margin-bottom: 40px;
}
#newin{
    /* border: 1px solid black; */
    width: 80%;
    margin:auto;
    margin-bottom: 80px;
}
#newin>div:nth-child(1){
    display: flex;
    justify-content: space-between;
}
#newin>div:nth-child(1)>p{
    font-size: 20px;
}
#newin>div:nth-child(1)>button{
    padding: 10px 15px;
    font-size: medium;
    margin-top: 10px;
    border-radius: 8px;
    background-color: white;
    height: 60%;
}
#newin>div:nth-child(1)>button:hover{
    cursor: pointer;
    color: rgb(133, 133, 133);
}
#newin>div:nth-child(2){
    /* border: 1px solid black; */
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    display: flex;
    justify-content: space-between;
}
#newin>div:nth-child(2)>div{
    border: 0.5px solid rgb(234, 234, 234);
    width: 21%;
    padding: 15px;
}
#newin>div:nth-child(2)>div>img{
    width: 100%;
}
#newin>div:nth-child(2)>div>p{
    margin-top: -10px;
}
#newin>div:nth-child(2)>div>p:nth-child(2){
    margin-top: 15px;
    color: rgb(172, 172, 172);
}
#newin>div:nth-child(2)>div>p:nth-child(3){
    font-weight:bold;
    letter-spacing: 1px;
}
#newin>div:nth-child(2)>div>p:nth-child(4){
    color: rgb(117, 117, 117);
}
#newin>div:nth-child(2)>div>p:nth-child(5){
    margin-top: 30px;
}
#newin>div:nth-child(2)>div:nth-child(3)>p:nth-child(5){
    margin-top: -10px;
}
#newin>div:nth-child(2)>div>button{
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: white;
    margin-bottom: 10px;
}
#newin>div:nth-child(2)>div>button:hover{
    cursor: pointer;
    background-color: rgb(255, 251, 251);
}
#highlight{
    /* border: 1px solid black; */
    width: 80%;
    margin: auto;
    margin-bottom: 80px;
}
#highlight>p{
    margin-top: 5px;
    text-align: center;
    font-size: 28px;
}
#highlight>#cards{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    display: flex;
    justify-content: space-between;
}
#highlight>#cards>div{
    width: 31%;
    cursor: pointer;
}
#highlight>#cards>div>img{
    width: 100%;
}
#highlight>#cards>div>p:nth-child(3){
    margin-top: -15px;
}
#discover{
    /* border: 1px solid black; */
    width: 80%;
    margin:auto;
    margin-bottom: 80px;
}
#discover>div:nth-child(1){
    display: flex;
    justify-content: space-between;
}
#discover>div:nth-child(1)>p{
    font-size: 20px;
}
#discover>div:nth-child(1)>button{
    padding: 10px 15px;
    font-size: medium;
    margin-top: 10px;
    border-radius: 8px;
    background-color: white;
    height: 60%;
}
#discover>div:nth-child(1)>button:hover{
    cursor: pointer;
    color: rgb(133, 133, 133);
}
#discover>div:nth-child(2){
    /* border: 1px solid black; */
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    display: flex;
    justify-content: space-between;
}
#discover>div:nth-child(2)>div{
    border: 0.5px solid rgb(234, 234, 234);
    width: 21%;
    padding: 15px;
}
#discover>div:nth-child(2)>div>img{
    width: 100%;
}
#discover>div:nth-child(2)>div>p{
    margin-top: -10px;
}
#discover>div:nth-child(2)>div>p:nth-child(2){
    margin-top: 15px;
    color: rgb(172, 172, 172);
}
#discover>div:nth-child(2)>div>p:nth-child(3){
    font-weight:bold;
    letter-spacing: 0.5px;
}
#discover>div:nth-child(2)>div>p:nth-child(4){
    color: rgb(117, 117, 117);
}
#discover>div:nth-child(2)>div>p:nth-child(5){
    margin-top: 5px;
}
#discover>div:nth-child(2)>div>button{
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: white;
    margin-bottom: 10px;
}
#discover>div:nth-child(2)>div>button:hover{
    cursor: pointer;
    background-color: rgb(255, 251, 251);
}
#explore{
    /* border: 1px solid black; */
    width: 80%;
    margin: auto;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    display: flex;
    justify-content: space-between;
}
#explore>div{
    width: 75%;
}
#explore>div>img{
    width: 100%;
    height: 100%;
}
#explore>div:nth-child(1){
    padding: 0px 30px;
    padding-top: 15%;
}
#explore>div>p{
    font-size: 18px;
    text-align: center;
}
#explore>div:nth-child(1)>button{
    padding: 10px 20px;
    font-size: medium;
    margin-top: 30px;
    margin-left: 40%;
    border-radius: 5px;
    background-color: white;
}
#explore>div:nth-child(1)>button:hover{
    cursor: pointer;
    color: rgb(151, 151, 151);
}
@media all and (min-width: 650px) and (max-width:1080px){
    #offerstab>div{
        width: 90%;
    }
    #navbar>div{
        width: 90%;
    }
    #rightsection{
        width: 35%;
    }
    h1{
        margin: 0px 80px;
    }
    #navbar>div>#additions{
        display: none;
    }
    #navbar>div>input{
        width: 100%;
    }
    #promotion{
        width:90%;
    }
    #promotion>h1{
        margin-left: 0px;
    }
    #essentials{
        gap: 60px;
    }
    #essentials>div>img{
        width: 30%;
    }
    #footer{
        width: 100%;
    }
    #footer>div{
        width: 30%;
        gap: 100px;
    }
    #footer>div>div{
        width:75%;
    }
    #footer>div>div>img{
        width: 16%;
    }
    #footer>div:nth-child(3){
        gap:20px;
    }
    footer>p{
        margin-left: 2%;
    }
    #guiding{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
        gap: 30px;
    }
    #content1{
        width: 90%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);
        gap: 5px;
        margin-bottom: -50%;
    }
    #content1>div{
        width: 100%;
    }
    #content1>div:nth-child(2){
        width: 91%;
    }
    #content2{
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);
        margin-bottom: 15%;
    }
    #content2>div{
        width: 100%;
    }
    #content2>div:nth-child(1){
        padding-top: 10%;
        width: 88%;
    }
    #content2>div:nth-child(1)>button{
        margin-left: 41%;
    }
    #content2>div:nth-child(2){
        margin-top: -32%;
    }
    #content3{
        width: 90%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);
        gap: 5px;
        margin-bottom: -45%;
    }
    #content3>div{
        width: 100%;
    }
    #content3>div:nth-child(2){
        width: 91%;
        margin-top: -20%;
    }
    #highlight{
        width: 90%;
        margin-bottom: 20%;
        margin-top: 25%;
    }
    #highlight>#cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 40px 25px;
    }
    #highlight>#cards>div{
        width: 100%;
        cursor: pointer;
    }
    #discover{
        width: 90%;
    }
    #discover>div:nth-child(2){
        width: 100%;
        margin: auto;
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px 0px;
    }
    #discover>div:nth-child(2)>div{
        width: 90%;
        margin: auto;
    }
    #explore{
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
    }
    #explore>div{
        width: 100%;
    }
    #explore>div:nth-child(1){
        width: 99.5%;
        padding: 12% 0;
    }
    #newin{
        width: 90%;
        margin:auto;
        margin-bottom: 80px;
        margin-top: -50%;
    }
    #newin>div:nth-child(2){
        width: 100%;
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
    #newin>div:nth-child(2)>div{
        width: 90%;
        margin: auto;
    }
    #explore{
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
    }
    #explore>div{
        width: 100%;
    }
    #explore>div:nth-child(1){
        width: 99.5%;
        padding: 12% 0;
    }
}
@media all and (min-width: 350px) and (max-width:649px){
    #offerstab>div{
        font-size: smaller;
        width: 90%;
    }
    #navbar>div{
        width: 90%;
        font-size: 15px;
    }
    #rightsection{
        width: 35%;
    }
    h1{
        font-size: 22px;
        margin: 0px 80px;
    }
    #navbar>div>#additions{
        display: none;
    }
    #navbar>div>input{
        width: 100%;
    }
    #promotion{
        width:90%;
    }
    #promotion>h1{
        margin-left: 0px;
    }
    #essentials{
        gap: 80px;
    }
    #essentials>div>input{
        width: 100%;
    }
    #essentials>div>button{
        margin-top: 10px;
    }
    #essentials>div>img{
        width: 40%;
    }
    #footer{
        width: 98%;
        margin: auto;
        font-size: small;
    }
    #footer>div{
        width: 33%;
    }
    #footer>div>div{
        width:75%;
    }
    #footer>div>div>img{
        width: 16%;
    }
    #footer>div:nth-child(3){
        gap:30px;
    }
    footer>p{
        margin-left: 4%;
    }
    #guiding{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
        gap: 30px;
    }
    #content1{
        width: 90%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);
        gap: 5px;
        margin-bottom: -5%;
    }
    #content1>div{
        width: 100%;
    }
    #content1>div:nth-child(2){
        width: 91%;
    }
    #content2{
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);
        margin-bottom: 20%;
    }
    #content2>div{
        width: 100%;
    }
    #content2>div:nth-child(1){
        padding-top: 10%;
        width: 88%;
    }
    #content2>div:nth-child(1)>button{
        margin-left: 41%;
    }
    #content2>div:nth-child(2){
        margin-top: -20%;
    }
    #content3{
        width: 90%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);
        gap: 5px;
        margin-bottom: -5%;
    }
    #content3>div{
        width: 100%;
    }
    #content3>div:nth-child(2){
        width: 91%;
        margin-top: -10%;
    }
    #highlight{
        width: 90%;
        margin-bottom: 20%;
    }
    #highlight>#cards{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
        gap: 40px;
    }
    #highlight>#cards>div{
        width: 100%;
        cursor: pointer;
    }
    #discover{
        width: 90%;
    }
    #discover>div:nth-child(2){
        width: 100%;
        margin: auto;
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px 0px;
    }
    #discover>div:nth-child(2)>div{
        width: 90%;
        margin: auto;
    }
    #explore{
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
    }
    #explore>div{
        width: 100%;
    }
    #explore>div:nth-child(1){
        width: 99.5%;
        padding: 12% 0;
    }
    #newin{
        width: 90%;
        margin:auto;
        margin-bottom: 80px;
        margin-top: -30%;
    }
    #newin>div:nth-child(2){
        width: 100%;
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    #newin>div:nth-child(2)>div{
        width: 90%;
        margin: auto;
    }
}